/*
  Global App CSS
  ----------------------
  Use this file for styles that should be applied to all components.
  For example, "font-family" within the "body" selector is a CSS property
  most apps will want applied to all components.

  Any global CSS variables should also be applied here.
*/

@import "~normalize.css/normalize.css";

@font-face {
  font-family: "Helsinki";
  src: url("/assets/font/helsinki-webfont.woff") format("woff");
}

html {
  --font-heading: Helsinki, "Arial Black", "Arial Bold", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --font-body: "Helvetica Neue", Helvetica, Arial, sans-serif;
  --color-dark: #353959;
  --color-light: #e2e0d2;
  --color-primary: #bf3f4f;
  --box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

body {
  font-family: var(--font-body);
  font-weight: 300;
  color: var(--color-light);
  background-color: var(--color-dark);
  text-align: center;
  letter-spacing: 0.08em;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--font-heading);
}
