label {
  font-family: var(--font-heading);
  display: block;
  margin: 1rem;
}

form {
  display: block;
  max-width: 18rem;
  margin: 0 auto;
  padding: 1rem 2rem;
}

input {
  display: block;
  width: calc(100% - 2rem);
  font-size: 1em;
  border: none;
  padding: 1rem;
  background: var(--color-light);
  color: var(--color-dark);
  border-radius: 1rem;
  box-shadow: var(--box-shadow);
  outline: 0;
}

button {
  display: block;
  width: calc(100%);
  margin: 1rem 0;
  background: var(--color-primary);
  color: var(--color-light);
  font-family: var(--font-heading);
  font-size: 1em;
  border: none;
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: var(--box-shadow);
  outline: 0;
  transition: all 0.15s ease;
  cursor: pointer;
}

button:hover {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.1);
  transform: translateY(1px);
  color: white;
}
