:host {
  display: block;
  height: 30vh;
  max-height: 15rem;
  max-width: 90%;
  margin: 0 auto;
  background: url(assets/media/logo.svg) no-repeat center bottom;
  background-size: contain;
  text-indent: -9999px;
}

h1 {
  all: initial;
}
